.search-section {
    @include layout(row, space-between);
    gap: 15px;
    flex-wrap: nowrap;
    width: 100%;
    .drop-down-div {
      // background: $card-variant-one;
      border: 1px solid #dddddd;
      width: 100%;
      height: 40px;
      border-radius: 10px;
      padding: 8px 10px;
  
      .form-control-text {
        @include typography-header(400, 12px, #5c5c5c);
      }
      @include layout(row, flex-start);
      align-items: center;
      gap: 1rem;
      @include typography-header(400, 8px, #5c5c5c);
  
      .choose {
        width: 20%;
        position: relative;
        @include layout();
        align-items: center;
        .clear-button {
          height: 20px;
        }
        .dropdown {
          width: 100%;
          border: none;
          outline: none;
          background-color: transparent;
          @include typography-header(400, 16px, #5c5c5c);
        }
      }
  
      .line {
        width: 2px;
        height: 100%;
        background: $all-lines;
      }
  
      .search {
        @include layout(row, flex-start);
        gap: 1rem;
        flex: 1;
        .icon {
          width: 25px;
          height: 25px;
        }
  
        .search-input {
          width: 100%;
          @include font-props(500, 12px, black);
          border: none;
          outline: none;
          box-shadow: none;
          background: transparent;
        }
  
        .search-input::placeholder {
          @include typography-header(500, 16px, #5c5c5c);
        }
      }
  
      .search-filter {
        width: 5%;
        @include layout(row, center);
        align-items: center;
        .filter {
          text-align: right;
          @include typography-header(400, 16px, $all-lines);
        }
      }
      .filter {
        text-align: right;
        border: none;
        @include typography-header(400, 16px, $all-lines);
      }
    }
    .filter {
      @include typography-header(400, 12px, $secondary-color);
    }
    .search-filters {
      @include layout(row, flex-end);
      // width:40%;
      gap: 15px;
      .range-picker {
        min-width: 260px;
        width: auto;
        border-radius: 12px;
        .ant-picker-input > input {
          @include font-props(500, 14px, $dark-color);
        }
      }
      .big-field {
        background: #fff;
        border-radius: 12px;
        border: 1px solid #dddddd;
        .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
          border-color: $primary-color;
        }
  
        .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
          border-color: $primary-blue;
        }
        .MuiInputLabel-outlined.Mui-focused {
          color: $primary-blue;
        }
        .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-input {
          color: $secondary-color;
          background-color: $light-color;
        }
        &:hover .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
          border-color: $primary-blue;
        }
        .MuiInputBase-root {
          height: 100%;
        }
      }
  
      .submit-button {
        background-color: $success-color;
        &:hover {
          background-color: $success-color-2;
          color: white;
        }
        @include font-props(400, $font-size-6, $light-color);
      }
  
      .filter-div {
        @include font-props(500, 10px, $secondary-color);
        // @include Applynoborder;
        cursor: pointer;
        padding: 10px;
        display: flex;
        align-items: center;
        width: auto;
        white-space: nowrap;
        position: relative;
        gap: 5px;
  
        @include mobileview {
          height: 100%;
        }
        & {
            background: #fff;
            border: 1px solid #dddddd;
            border-radius: 12px;
        }
        .filter-icon {
          height: 25px;
          width: 25px;
        }
        .filter-button-text {
          @include mobileview {
            display: none;
          }
        }
        .filter-active-count {
          @include font-props(500, $font-size-7, $light-color);
          position: absolute;
          top: -10px;
          right: -10px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background: $dark-color;
          // color: white;
        }
      }
      .choose {
        width: 16%;
        position: relative;
        @include layout();
        align-items: center;
        .clear-button {
          height: 20px;
        }
        .dropdown {
          width: 100%;
          border: none;
          outline: none;
          background-color: transparent;
          @include typography-header(400, 14px, #5c5c5c);
        }
      }
  
      .active-filters {
        border: 2px solid $dark-color;
      }
    }
  
    .adjudication {
      height: 50px;
    }
  }